@import "themes/default";

body{
  color: $font-color;
  font-family: $font-family;
  font-size: $font-size;
}

h1{
  font-size: $h1-font-size;
}

h2{
  font-size: $h2-font-size;
}

h3{
  font-size: $h3-font-size;
}
