<h2>Navigation</h2>
<div class="wrapper">
  <app-navigation-menu-item routerLink="/" displayText="Main page"></app-navigation-menu-item>
  <app-navigation-menu-item routerLink="/social-network" displayText="Social Network"></app-navigation-menu-item>
  <app-navigation-menu-item routerLink="/not-found" displayText="Not found page"></app-navigation-menu-item>
</div>
