<app-user-post-details-video *ngIf="data.type == 'video'" [data]="data"></app-user-post-details-video>
<app-user-post-details-photo *ngIf="data.type == 'photo'" [data]="data"></app-user-post-details-photo>
<app-user-post-details-link *ngIf="data.type == 'link'" [data]="data"></app-user-post-details-link>
<app-user-post-details-doc *ngIf="data.type == 'doc'" [data]="data"></app-user-post-details-doc>
