$font-family: 'Roboto',Arial,sans-serif;
$font-color: #300;
$font-size: 12rem;
$h1-font-size: 25rem;
$h2-font-size: 18rem;
$h3-font-size: 16rem;

$background-main: #fff;
$background-block: #ccc;

$green: #1cb06b;
$red: #dd6069;


%block{
  background-color: $background-block;
  box-shadow: 0 0 10px 12px rgba(0,0,0,0.5);
}

%btn{
  color: #999;
  min-width: 130px;
  height: 45px;
  font-size: 14px;
  line-height: 1;
  font-weight: 300;
  background-position: center center;
  border-color: transparent;
  cursor: pointer;
}

%btn_disabled{
  @extend %btn;
  color: #555;
}


%btn_ok{
  @extend %btn;
  color: $green;
}

%btn_cancel{
  @extend %btn;
  color: $red;
}
