$font-family: 'Roboto',Arial,sans-serif;
$font-color: #333;
$font-size: 12rem;
$h1-font-size: 25rem;
$h2-font-size: 18rem;
$h3-font-size: 16rem;

$background-main: #cdc;
$background-block: #bbb;

$green: #1cb06b;
$red: #dd6069;


%block{
  background-color: $background-block;
  border: 1px solid #333;
  border-radius: 10rem;
  box-shadow: 0 0 54px 17px rgba(0,0,0,0.3);
}

%btn{
  color: #aaa;
  min-width: 130px;
  height: 45px;
  font-size: 16px;
  font-family: 'Roboto',Arial,sans-serif;
  line-height: 1;
  font-weight: 300;
  border-width: 1px;
  border-radius: 5px;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  cursor: pointer;
}

%btn_disabled{
  @extend %btn;
  color: #777;
}


%btn_ok{
  @extend %btn;
  color: $green;
}

%btn_cancel{
  @extend %btn;
  color: $red;
}
